{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th> # </th>
            <th> Date Order </th>
            <th> Phone </th>
            <th> Shipping Price </th>
            <th> Shipping Status </th>
            <th> Payment Status </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td> {{ order.id }} </td>
            <td> {{ order.dataOrdine | date }} </td>
            <td> {{ order.phone }} </td>
            <td> {{ order.shippingPrice }} </td>
            <td> {{ order.shippingStatus }} </td>
            <td> {{ order.paymentStatus }} </td>
            <td>
                <a href="{{ path('orders_update', {'id': order.id}) }}" class="btn btn-success"> Update </a>
                <a href="{{ path('orders_delete', {'id': order.id}) }}" class="btn btn-danger"> Delete </ah>
            </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
